<h2>Hello, <%= current_user.name %>! Welcome to SusiHub!</h2>
<%= link_to "Log out", logout_path %>

<div class="container">
  <h3>Your Information</h3>
  Username: <%= current_user.nickname %>
</div>

<div class="container">
  <h3><%= link_to "See Your Recent Commits", commits_path %></h3>
  <h3><%= link_to "View Your Repos", repos_path %></h3>
